@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
        <li>@Html.ActionLink("Pesquisa de Hoteis", "FiltroPesquisa", "Hoteis")</li>
        <li>@Html.ActionLink("Preferências por Seção", "CadastroPorSecao", "Preferencias")</li>
        <li>@Html.ActionLink("Preferências por Categoria", "CadastroPorCategoria", "Preferencias")</li>
        <li>@Html.ActionLink("Preferências Redes Sociais", "CadastroRedesSociais", "Preferencias")</li>
    </ul>
</div>